.controls-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns */
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }
  
  .control-card {
    background-color: #ffffff;
    color: #000;
    border: 2px solid #ffffff;
    border-radius: 8px;
    width: 150px;
    padding: 10px;
    box-shadow: 
    0 0 0 2px #0073ff, /* Orange border */
    0 4px 8px rgba(0, 0, 0, 0.2); /* Existing shadow */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between; /* Distribute space between elements */
  }

  .control-card h3 {
    font-size: 14px; /* Set font size for control IDs and names */
    margin: 10px 0; /* Add margin for spacing */
  }

  .control-card .content {
    flex-grow: 1; /* Allow content to grow and take up available space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
  }
  
  .toggle-button {
    background-color: #0073ff;
    color: #fff;
    border: none;
    padding: 5px 10px; /* Adjusted padding to make the button smaller */
    font-size: 12px; /* Adjusted font size to make the button text smaller */
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .toggle-button:hover {
    background-color: #0073ff;
  }
  
  .control-details {
    margin-top: 15px;
    text-align: left;
    width: 100%;
  }
  
  .control-details ul {
    padding-left: 20px;
  }
  
  .control-details h4 {
    margin-bottom: 5px;
  }
