/* Sidebar.css */
.sidebar {
  width: 200px; /* Adjust width if necessary */
  background-color: #f8f9fa;
  padding: 10px; /* Reduce padding */
  height: calc(100vh - 100px); /* Adjust height to account for the header and navbar */
  position: fixed;
  top: 100px; /* Set top position to be below the header and navbar */
  left: 0;
  overflow-y: auto; /* Hide overflow to remove scrollbar */
}

.sidebar h2 {
  margin-top: 10px; /* Adjust margin */
  font-size: 0.9rem; /* Reduce font size */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 5px 0; /* Adjust margin */
  font-size: 0.8rem; /* Reduce font size */
}

.sidebar ul li a {
  text-decoration: none;
  color: #007bff;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}
